/* Body Styling */
body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #{{ site.color.primary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/* Navbar */
.navbar {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: #C4A484;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}

/* Footer Styling */
.footer-above {
    padding-top: 50px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}

.footer-below {
    padding: 25px 0;
    background-color: #333; /* Darker black */
    color: #fff;
}

.btn-social {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    color: #fff;
    background: transparent;
    transition: all 0.3s ease;
}

.btn-social:hover {
    color: #C4A484; /* Adjust hover color */
    background-color: #fff;
    border-color: #C4A484;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: 0;
}

.list-inline > li {
    display: inline-block;
    margin: 0 10px;
}
